@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Poppins&display=swap");

:root {
    --yellow: #f9ca24;
}
* {
  font-family: 'Nunito', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background: var(--yellow) ;
    color: #333;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1.4rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}

body{
  background: #111;
  overflow-x: hidden;
  padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding: 1rem;
}

header{
  position: fixed;
  top: 0; left: 0;
  z-index: 1000;
  height: 100%;
  width:: 100rem;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}
 
span {
  color: #f9ca24;
  font-size: 5rem
}
div.logo a{
  font-size: 3.5rem;
  color: #fff;
}

div.logo{
  padding-bottom: 4rem;
}

header .navbar{
    width: 100%;
}

header .navbar li{
    list-style: none;
    padding: 0.2rem 2.5rem;
}

header .navbar li a{
    display: block;
    padding: 1rem;
    margin: 1rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
    
}

header .navbar li a:hover{
    background: var(--yellow);
}

#menu{
  position: fixed;
  top: 2rem; right: 2rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}

.home{
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 15rem;
}

.home img{
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5rem;
  margin-top: -10rem;
  border: 0.5rem solid var(--yellow);
}
.home h3{
  font-size: 2.5rem;
  color: #fff;
}

.home h1{
  font-size: 5rem;
  color: #fff;
  margin-left: 10rem;
}

.home h1 span{
  color: #f9ca24;
}
.home p{
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
}

.home p i{
  font-size: 2rem;
  color: #f9ca24;
}








@media (max-width:1200px){
  html{
      font-size: 55%;
  }
}
@media (max-width:991px){
  header{
      left: -120%;
  }
  #menu{
      display: block;
  }
  header.toggle{
      left: 0%;
  }

}
@media (max-width:400px){
  header{
      width: 100vw;
  }
 

}